:root {
    --bg: #0b0b0b;
    --text-main: #f3f3f4;
    --text-muted: #94a3b8;
    --border: #34312d;
    --nav-bg: #1e293b;
}

a {
    color: var(--text-muted);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    color: var(--border);
}