---
import Layout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
---

<Layout activeTab="Home">
  <Section>
    <h2>Hey, I'm Sebastian</h2>

    <p>
      I'm currently pursuing my Bachelor's degree in Mobile Computing at the <a href="https://fh-ooe.at/campus-hagenberg" target="_blank">University of Applied Sciences Upper Austria</a>, a field that covers not just mobile apps, but also IoT, device communication ,and the intersection of software and hardware.
    </p>

    <div>
      <p>For my Master's, I'm currently deciding between:</p>

      <ul>
        <li>Cyber Security and Resilience (<a href="https://www.ustp.at/en" target="_blank">FH St. Pölten</a>)</li>
        <li>Embedded System Design (<a href="https://fh-ooe.at/campus-hagenberg" target="_blank">FH Hagenberg</a>)</li>
      </ul>

      <p>If I'm feeling ambitious, why not both?</p>
    </div>

    <hr />

    <p>
      Tinkering around is kind of my thing, that's why I love software engineering and Linux. My spectrum of interests is huge, spanning from web development to low level programming and occasionally reverse-engineering.
    </p>

    <p>
      I like to explore new technologies. Personal projects usually end after the initial concept is finished because the next idea is always right around the corner.
    </p>

    <p>
      So if you're into building things, breaking things, and never quite
      finishing them, we'll probably get along very well.
    </p>
  </Section>
</Layout>