---
import Layout from "../layouts/MainLayout.astro";
import SectionText from "../components/SectionText.astro";
---

<Layout activeTab="Projects">
  <SectionText>
    <h2>Projects</h2>
    <p>Coming soon!</p>
  </SectionText>
</Layout>