---
import Layout from "../layouts/MainLayout.astro";
import Project from "../components/Project.astro";
import Section from "../components/Section.astro";

import { projects } from "../data/projects";
---

<Layout activeTab="Projects">
  <div class='project-head'>
    <Section>
      <h2>Projects</h2>
      <p>Currently under development</p>
    </Section>
  </div>

  <div class="project-container">
    {projects.map(project => (
      <Project project={project} />
    ))}
  </div>
</Layout>

<style>
  .project-head {
    margin-bottom: 2rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 768px) {
    .project-head {
      margin-bottom: 1.25rem;
    }

    .project-container {
      gap: 1.25rem;
    }
  }
</style>