---
import Layout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
---

<Layout activeTab="Resume">
  <Section>
    <h2>Resume</h2>
    <p>Coming soon!</p>
  </Section>
</Layout>